:root{
    --primary: #198754;
    --grey-black: #111111;
    --white: #fff;
}
/* Navbar */
.nav-end{}
.nav-end li{
    list-style: none;
    margin: 0 10px;
}
.nav-end li a{
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}

/* Footer */
.footer{
    background-color: var(--grey-black);
    color: var(--white);
}
.footer h3 a{
    text-decoration: none;
    color: var(--white);
}
.footer li{
    list-style: none;
}
.footer li a{
    text-decoration: none;
    color: var(--white);
}
