:root{
    --primary: #198754;
    --grey-black: #111111;
    --white: #fff;
}
/* Navbar */
.nav-end{}
.nav-end li{
    list-style: none;
    margin: 0 10px;
}
.nav-end li a{
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}
/* latest news */
.latest-news{}
.latest-news-title-box{}
.latest-news-title-box h2{}
.latest-news-title-box p{}
.latest-inner{
    position: relative;
    overflow: hidden;
}
.latest-inner img{
    transition: .5s;
}
.latest-inner img:hover{
    transform: scale(1.3);
}
.latest-news h4{
    font-size: 20px;
}
.latest-news h4:hover{
    color: var(--primary);
}
.latest-news  .admin{
    color: rgb(168, 168, 168);
}
.latest-news p{}
/* Footer */
.footer{
    background-color: var(--grey-black);
    color: var(--white);
}
.footer h3 a{
    text-decoration: none;
    color: var(--white);
}
.footer li{
    list-style: none;
}
.footer li a{
    text-decoration: none;
    color: var(--white);
}
/* footer bottom */
.footer-bottom{
    background-color: #000;
    color: var(--white);
}
.copyright{
    
}